
.login-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form label {
    font-weight: bold;
    color: #555;
    text-align: left;
}

.login-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.login-form input:focus {
    border-color: #007bff;
    outline: none;
}

.login-form button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-container p {
    margin-top: 20px;
}

.login-container p span {
    color: #007bff;
    text-decoration: none;
}

.login-container p span:hover {
    text-decoration: underline;
}