#filters-section {
    margin-bottom: 15px;
}


.filters-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.filter-item {
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.filter-item label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.filter-item input, 
.filter-item select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
}

.filter-button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 14px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #218838;
}

.sort-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.sort-item label {
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.sort-item select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sort-button {
    padding: 10px 15px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sort-button:hover {
    background-color: #0056b3;
}